[submodule "amazon-chime-sdk-component-library-react"]
	path = amazon-chime-sdk-component-library-react
	url = https://github.com/prosent-tech/amazon-chime-sdk-component-library-react.git
	branch = main
